<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Arsha Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="Arsha/assets/img/favicon.png" rel="icon">
  <link href="Arsha/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="Arsha/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="Arsha/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="Arsha/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="Arsha/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="Arsha/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="Arsha/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="Arsha/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="Arsha/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">PT AL-JANNHAH</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="Arsha/assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Company Profile</a></li>
          <li><a class="nav-link scrollto" href="#skills">Haji Plus</a></li>
          <li><a class="nav-link scrollto" href="https://wa.me/087750527417">Haji Furoda</a></li>
          <li><a class="nav-link scrollto" href="#skills1">Cicilan Haji Plus</a></li>
          <li><a class="getstarted scrollto" href="login">Daftar Sekarang</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
          data-aos="fade-up" data-aos-delay="200">
          <h1>PT Al-JANNAH</h1>
          <h2>PT. AL-JANNAH Berkah Abadi adalah mitra terpercara dalam memfasilitasi perjalanan Ibadah ke kota suci
            Mekkah dan Madinah. Dengan komitmen yang kuat terhadap keunggulan, kami menghususkan diri untuk menciptakan
            pengalaman yang tak terlupakan bagi para Jama'ah yang melakukan perjalanan Ibadah Umroh dan Haji bersama
            kami.
            Kami Menjadi Pintu bagi mereka yang ingin memenuhi panggilan dan kewajiban dari aspirasi spritual meraka
            dengan memberikan pengalaman perjalanan, yang lancar serta terjangkau, dan memperkaya spritual.</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="https://wa.me/087750527417" class="btn-get-started scrollto">Get Started</a>
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i
                class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="Arsha/assets/img/haji12.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in">
          <div class="col-lg-4 col-md-8 d-flex align-items-center justify-content-center">
            <!-- Kartu Visi dan Misi -->
            <div class="card-body">
              <h5 class="card-title">Visi</h5>
              <p class="card-text">Menjadi pemimpin dalam inovasi dan keunggulan dalam industri kami.</p>
            </div>
            <div class="card-body">
              <h5 class="card-title">Misi</h5>
              <p class="card-text">Memberikan solusi terbaik kepada pelanggan kami dengan layanan yang unggul.</p>
            </div>

          </div>
        </div>
      </div>
    </section><!-- End Cliens Section -->


    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Jasa dan Produk</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <ul>
              <li><i class="ri-check-double-line"></i> Memberikan Informasi secara umum Mengenai suatu perjalanan.</li>
              <li><i class="ri-check-double-line"></i> Menyediakan Tiket untuk penerbangan Domestik atau International
                (FIT atau Group).</li>
              <li><i class="ri-check-double-line"></i> Menyediakan Paket Perjalanan Wisata Domestik atau International.
              </li>
              <li><i class="ri-check-double-line"></i> Melayani Reservasi Hotel Domestik & International.</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <ul>
              <li><i class="ri-check-double-line"></i> Melayani Perjalanan Haji dan Umroh dan Wisata Religi lainnya.
              </li>
              <li><i class="ri-check-double-line"></i> Menyediakan Land Arrangement untuk Umroh (Hotel, Transport,
                handling).</li>
            </ul>
          </div>
        </div>

      </div>
    </section>
    <!-- End About Us Section -->
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Legalitas PT AL-JANNAH</h2>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="Arsha/assets/img/portfolio/surat1.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="Arsha/assets/img/portfolio/surat2.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="Arsha/assets/img/portfolio/surat.png" class="img-fluid" alt="">
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Portfolio Section -->
    <section id="skills" class="skills" style="background-color: #75a3ba;">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
            <img src="Arsha/assets/img/imagenew.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3>Program Haji Khusus AL-JANNAH Travel Keberangkatan 2030-2031</h3>
            <p class="fst-italic mt-5">
              KUOTA RESMI KEMENAG Haji Khusus adalah haji dengan kuota resmi pemerintah, namun untuk pelaksanaan tetap
              dengan travel yang sudah memiliki izin (PIHK)
            </p>
            <div class="mt-5">
              <p class="fst-italic fs-3">Estimasi menunggu 5 – 7 tahun 100% Berangkat.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg" style="background-color: #ffffff;">
      <div class="container-fluid" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch order-2 order-lg-1">
            <div class="content">
              <h3>Paket HAJI PLUS Kuota Resmi Negara</h3>
              <p>
                Almira Travel sudah terdaftar resmi sebagai Penyelenggara Ibadah Haji Khusus (PIHK) dengan SK PIHK Nomor
                319 2021.
              </p>
            </div>

            <div class="accordion-list">
              <ul>
                <li>
                  <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> HAJI
                    PLUS<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                    <p>
                      menjadi solusi bagi calon jemaah yang ingin segera berangkat haji. Sebab, waktu tunggu Haji Plus
                      relatif lebih singkat dibandingkan dengan Haji Reguler. Waktu tunggu sekitar 6 sampai 7 tahun.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span>
                    Program HAJI PLUS<i class="bx bx-chevron-down icon-show"></i><i
                      class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      atau dikenal dengan ONH Plus ini menggunakan kuota resmi dari Kemenag dan diawasi oleh Kementerian
                      Agama RI, sehingga dijamin AMAN dan NYAMAN apabila Anda sudah terdaftar.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span>
                    HAJI PLUS <i class="bx bx-chevron-down icon-show"></i><i
                      class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      Kuota Resmi ini diselenggarakan oleh PIHK (Penyelenggara Ibadah Haji Khusus) resmi sehingga
                      Fasilitas yang diperoleh pun relatif lebih eksklusif dan lebih baik daripada Haji Reguler yang
                      diselenggarakan oleh Kemenag.
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
            style='background-image: url("Arsha/assets/img/haji.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;
          </div>
        </div>
      </div>
    </section><!-- End Why Us Section -->


    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Program Paket Haji Khusus</h2>
        </div>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>Premium</h3>
              <h4><sup>$</sup>8.950<span>per month</span></h4>
              <h3 class="text-center">Fasilitas</h3>
              <ul>
                <li>Mekkah:&nbsp;&nbsp;Anjum *5</li>
                <li>Madinah:&nbsp;&nbsp;Rawdat al aqeeq*4</li>
                <li>Aziziyah:&nbsp;&nbsp;Apartement</li>
                <li>Arafah:&nbsp;&nbsp;Tenda AC</li>
                <li>Mekkah:&nbsp;&nbsp;72</li>
              </ul>
            </div>
          </div>


          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <h3>VIP</h3>
              <h4><sup>$</sup>10.950<span>per month</span></h4>
              <h3 class="text-center">Fasilitas</h3>
              <ul>
                <li>Mekkah:&nbsp;&nbsp;Anjum *5</li>
                <li>Madinah:&nbsp;&nbsp;Rawdat al aqeeq*4</li>
                <li>Aziziyah:&nbsp;&nbsp;Apartement</li>
                <li>Arafah:&nbsp;&nbsp;Tenda AC</li>
                <li>Mekkah:&nbsp;&nbsp;116</li>
              </ul>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>JADE</h3>
              <h4><sup>$</sup>19.950<span>per month</span></h4>
              <h3 class="text-center">Fasilitas</h3>
              <ul>
                <li>Mekkah:&nbsp;&nbsp;Hyatt Regency*5</li>
                <li>Madinah:&nbsp;&nbsp;Hilton *5</li>
                <li>Aziziyah:&nbsp;&nbsp;Hotel Transit</li>
                <li>Arafah:&nbsp;&nbsp;Tenda AC</li>
                <li>Mekkah:&nbsp;&nbsp;111</li>
              </ul>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Pricing Section -->
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container " data-aos="fade-up">

        <div class="section-title">
          <h2>Lokasi Faasilitas Haji Khusus</h2>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="Arsha/assets/img/portfolio/tempat1.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="Arsha/assets/img/portfolio/tempat2.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="Arsha/assets/img/portfolio/tempat3.png" class="img-fluid" alt="">
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Portfolio Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Program Akhir(Haji Tamattu)</h2>
          <img src="Arsha/assets/img/jalan.png" alt="Your Image Description" class="img-fluid mt-4">
        </div>
      </div>

    </section><!-- End Services Section -->

    <section id="services" class="services section-bg" style="background-color: #69cafa;">
      <div class="container" data-aos="fade-up">
        <div
          class="section-title d-flex align-items-center justify-content-center justify-content-lg-start flex-column flex-lg-row">
          <img src="Arsha/assets/img/haji123.png" alt="Your Image Description" class="img-fluid me-lg-5 mb-4 mb-lg-0"
            style="max-width: 500px;">
          <div class="text-center text-lg-start">
            <div class="box">
              <h2>Kelebihan HAJI PLUS Kouta Resmi</h2>
              <ul>
                <li><i class="bx bx-check"></i> Kuota Resmi Negara diatur oleh Kementerian Agama RI.</li>
                <li><i class="bx bx-check"></i> Waktu Tunggu 6 s.d 7 Tahun.</li>
                <li><i class="bx bx-check"></i> Fasilitas Bintang 5</li>
                <li><i class="bx bx-check"></i> Jarak Hotel ke Masjidil Haram Dekat.</li>
                <li><i class="bx bx-check"></i> Jarak dari Maktab ke Jamarat (lempar Jumroh) Dekat.</li>
                <li><i class="bx bx-check"></i> Fasilitas terbaik bagi para jamaah.</li>
                <li><i class="bx bx-check"></i> Diselenggarakan oleh Travel resmi PIHK (Penyelenggara Ibadah Haji
                  Khusus).</li>
                <li><i class="bx bx-check"></i> Waktu perjalanan Haji Plus di Tanah Suci lebih singkat sekitar 22-27
                  hari.</li>
                <li><i class="bx bx-check"></i> Terdapat Program City Tour.</li>
                <li><i class="bx bx-check"></i> Terjamin, Aman dan Nyaman.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h3>Yok Lebih Dekat dengan Baitullah Bersama Kami!!!</h3>
            <a class="cta-btn align-middle" href="https://wa.me/087750527417">Hubungi Kami !!</a>
          </div>
          <div class="col-lg-12 text-center">
            <h5>Kekurangan Dana ?</h5>
            <h5>Uang DP Kurang ?</h5>
            <h5>Tenang PT Al - Jannah Punya program Cicilan Haji</h5>
          </div>
        </div>
      </div>

    </section><!-- End Cta Section -->
    <section id="skills1" class="skills1" style="background-color: #7197d1;">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
            <img src="Arsha/assets/img/haji12.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3>Program Cicilan Haji Plus Almira Travel Keberangkatan 2030 – 2031</h3>
            <p class="fst-italic mt-5">
              Langsung dapat no porsi haji.
              Haji Khusus adalah haji dengan kuota resmi pemerintah, namun untuk pelaksanaan tetap dengan travel yang
              sudah memiliki izin (PIHK).
            </p>
            <div class="mt-5">
              <p class="fst-italic fs-3">Estimasi menunggu 5 – 7 tahun 100% Berangkat.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="services" class="services section-bg" style="background-color: #d2d8dd;">
      <div class="container" data-aos="fade-up">
        <div
          class="section-title d-flex align-items-center justify-content-center justify-content-lg-start flex-column flex-lg-row">
          <img src="Arsha/assets/img/haji123.png" alt="Your Image Description" class="img-fluid me-lg-5 mb-4 mb-lg-0"
            style="max-width: 500px;">
          <div class="text-center text-lg-start">
            <h2>Apa itu Program Cicilan Haji Plus PT Al-Jannah?</h2>
            <p class=" mt-5">
              Program Cicilan Haji Plus Almira Travel merupakan sebuah layanan pembiayaan yang dirancang untuk membantu
              Anda memperoleh nomor antrian haji yang bisa berangkat dalam waktu 6-7 tahun ke depan.
            </p>
            <p class=" mt-3">
              Menggunakan layanan Program Cicilan Haji Plus bersama Almira Travel, memungkinkan Anda mendapatkan nomor
              antrian haji khusus tanpa menunggu dana awal terkumpul. Ini mempercepat waktu Anda untuk menjalankan
              ibadah haji.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Keuntungan Menggunakan Program Cicilan Haji Plus Almira Travel</h2>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
                data-bs-target="#faq-list-1">Tanpa Perlu Menyediakan Jaminan<i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  Tidak mengharuskan Anda untuk memberikan agunan atau aset lain sebagai jaminan.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2"
                class="collapsed">Persyaratan Simpel<i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Yang Anda butuhkan hanyalah fotokopi Kartu Keluarga (KK) dan KTP, serta surat kuasa untuk pengurusan. Sangat sederhana bukan?
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3"
                class="collapsed">Legal<i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Diawasi dan terdaftar oleh Otoritas Jasa Keuangan (OJK)
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4"
                class="collapsed">Sesuai Syariah<i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Mematuhi fatwa dari Dewan Syariah Nasional Majelis Ulama Indonesia (DSN 29 / DSN - MUI / VI / 2002)
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="500">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5"
                class="collapsed">Terjaga Keamanannya<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Dana Anda disimpan secara langsung di rekening Badan Pengelola Keuangan Haji (BPKH), bukan di rekening lembaga keuangan syariah (LKS)
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->
    <section id="services" class="services section-bg" style="background-color: #e4edf1;">
      <div class="container" data-aos="fade-up">
        <div
          class="section-title d-flex align-items-center justify-content-center justify-content-lg-start flex-column flex-lg-row">
          <img src="Arsha/assets/img/haji123.png" alt="Your Image Description" class="img-fluid me-lg-5 mb-4 mb-lg-0"
            style="max-width: 500px;">
          <div class="text-center text-lg-start">
            <div class="box">
              <h2>Langkah-langkah Program Cicilan Haji Plus​</h2>
              <ul>
                <li><i class="bx bx-check"></i>Jamaah memberikan dokumen berupa KTP dan KK kepada CS.</li>
                <li><i class="bx bx-check"></i> CS memberikan dokumen + nomor jamaah ke PIC Travel untuk di konfirmasi ke PIC Amitra.</li>
                <li><i class="bx bx-check"></i> PIC Amitra akan menelpon jamaah untuk wawancara dan di ajak bertemu untuk meyakiinkan.</li>
                <li><i class="bx bx-check"></i> PIC Amitra akan memberikan kabar kepada PIC Travel jika dinyatakan Memenuhi Syarat.</li>
                <li><i class="bx bx-check"></i> Amitra Mengeluarkan PO yang isinya jumlah dana dan administrasi yang harus dibayar.</li>
                <li><i class="bx bx-check"></i> Pihak Travel membayar Admin.</li>
                <li><i class="bx bx-check"></i> Pencairan dana.</li>
                <li><i class="bx bx-check"></i> Mengisi Formulir.</li>
                <li><i class="bx bx-check"></i> Menandatangani Surat-surat dari Kemenag RI.</li>
                <li><i class="bx bx-check"></i> Biaya Admin dan Handling Travel DP USD 2000 Biaya Admin Pembiayaan Amitra 2,75 Juta.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    

  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>PT AL-JANNAH</h3>
            <p>
              AL-Jannah Travel merupakan Travel Umroh yang telah memiliki izin resmi sebagai Penyelenggara Perjalanan Ibadah Umroh (PPIU) dari Kementerian Agama RI dengan Izin Umroh No. 521 Tahun 2019
              Izin Haji No. 413 Tahun 2021. 
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Kantor Pusat</h4>
            <ul>
              <li>SUMENEP</li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <div class="social-links mt-3">
              <a href="https://twitter.com/FariziMaulidan" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="https://www.instagram.com/farizimaulidan/" class="instagram"><i class="bx bxl-instagram"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="Arsha/assets/vendor/aos/aos.js"></script>
  <script src="Arsha/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="Arsha/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="Arsha/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="Arsha/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="Arsha/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="Arsha/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="Arsha/assets/js/main.js"></script>

</body>

</html>