<%- include('../partials/_head.ejs') %>

<%- include('../partials/_navbar.ejs') %>
<div class="container">
        <div class="row">
            <div class="col">
                <h1>Selamat Datang Jamaah <%= nama_user %> </h1> <a class="btn btn-sm btn-success" href="/logout">Logout</a>
            </div>
        </div>
    </div>

<%- include('../partials/_foot.ejs') %>